/*** footer ***/
.my_footer{
    background-color:#000;
    font-size:14px;
    font-color:while;
    text-align:center;
}

/*** Category ***/

.my_cat_img{
    width:100%;
    height:autofill;
}
.my_header{
    padding-top:20px;
    text-align:center;
    font-size:26px;
    text-spacing:.2em;
    text-transform:uppercase;
}
.my_para p{

    font-size:16px;
    text-spacing:.2em;

}
.my_prod_list{
    text-align:center;
    font-size:20px;
    text-spacing:.2em;
    text-transform:uppercase;
}
.my_product_card{
    padding-top: 30px;
}
/*** Footer ***/
.my_footer{
    background-color:black;
    height:50px;
}
.my_footer p{
    padding-top:20px;
    font-size:18px;
    text-align:center;
    color:white;

/***product***/
.Prod_img_div{
    padding-top:20px;
    padding-bottom:20px;
}
.my_prod_name{
    text-transform:uppercase;
}
/*** cart ***/
.my_custom_table{
    min-width:400px;
    font-size:16px;
}
.my_custom_thead{
    font-weight:normal;
    text-transform:uppercase;
    letter-spacing:.2em;
}
/*** search ***/
.my_search_text{
    padding-top:10px;
}